.container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 10px;
	font-size: 12px;
	color: #212529;
	border-bottom: 1px solid silver;
}

.container:last-child {
  border: none;
}

.image {
  width: 30px;
}

.name {
  width: 180px;
  font-size: 14px;
  margin-left: 15px;
  text-align: left;
  font-weight: bold;
  color: #333333;
}
.symbol {
	width: 20%;
  text-align: left;
}

.currentPrice {
	width: 20%;
  text-align: left;
}

.green,
.red {
  width: 20%;
  text-align: left;
  font-weight: bold;
}

.green {
  color: rgb(0, 204, 0);
}

.red {
  color: rgb(255, 38, 38);
}

.marketCup {
	width: fit-content;
	text-align: left;
}

@media (max-width:500px) {
	.container {
		flex-direction: column;
	}
	.image,.name,.symbol,.currentPrice,.green,.red,.marketCup {
		text-align: center;
		margin: 2px;
	}
}